/*
Landing
Technical Portfolio
Qualifications
Service
AI Page
*/

/* [] disable unwanted defaults */
html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

body {
    background-color: black; /* for B: white */
    color: black;
    position: absolute; /* forces everything to behave like a box */
    top: 0px;
    left: 0px;
    width: 100%;
}

/* [] main container element of the page */
.page {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black; /* for B: whitesmoke */
    
    margin: 0;
    padding: 0;
}

/* [] class rules for all text */
.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* [] part of text class, controls generic header */
#header {
    color: black; /* for B: white */
    font-size: xx-large;
    font-weight: bold;
    
    top: 0px;
    left: 0px;
    position: relative;
    
    margin: 0; /*Outside spacing*/
    padding: 10px; /*Inside spacing*/
    background-color: rgb(255, 98, 0); /* for B: rgb(57, 57, 213) */
    min-height: 20%;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
}

/* [] items controlling selector elements in header */
button {
    border: none;
    text-align: center;
    display: inline-block;
    background-color: red; /* for B: darkblue */
    color: white;
}
select {
    width: 200px;
    
    border: none;
    text-align: left;
    display: inline-block;
    background-color: red; /* for B: darkblue */
    color: white;
}

/* [] main text body */
#body_content {
    color: red; /* for B: darkblue */
    
    top: 10px;
    left: 10px;
    position: relative;
}

/* [] footer class not to be used with text, just for banner image */
footer {
    z-index: 1;
    position: fixed;
    bottom: 0;
    min-height: 50px;
    max-height: 50px;
    min-width: 100%;
    background-image: url("Zach_Night.jpg"); /* for B: zachary.jpg */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(255, 98, 0); /* for B: rgb(57, 57, 213) */
}


/* {} section for page specific items */
#headshot { /* landing page */
    max-width: 45%;
    height: auto;
}

/* [] boxes from landing, can probably be reused */
ul { /* thing that holds the unordered list */
    display: flex;
    flex-direction: column; /* for C: column; */
    
    height: 400px;
    list-style: none;
}
li { /* unordered list elements */
    width: 200px;
    height: 200px;
    margin: auto;
    text-align: center;
}
.link-box {
    height: 150px;
    width: 150px;
    background-color: rgb(255, 98, 0); /* for B: rgb(57, 57, 213) */
    color: white;
}
.link-box-link {
    color: white;
}

#ai-body { /* ai page */
    background-image: url("college_experience_ai.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* {} unsorted stuff from darkmode lab */
a:link {
    color: pink;
}

a:visited {
    color: magenta;
}

a:hover {
    color: hotpink;
}

a:active {
    color: lightskyblue;
}