/*
Landing
Technical Portfolio
Qualifications
Service
AI Page
*/

html, body {
    height: 100%;
    font-family: verdana;
}

body {
    color: black;
    margin: 0; /*Outside spacing*/
}

header {
    margin: 0; /*Outside spacing*/
    padding: 0; /*Inside spacing*/
    color: white;
    background-color: rgb(57, 57, 213);
    min-height: 20%;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    
    flex-grow: 1;
}

/* + note to self: use flexboxes to make these side by side */
.custom-select {
    /* margin: 15px; */
    padding: 15px;
}

.general-text {
    padding: 15px;
}

.header-text {
    padding: 10px;
}

.footer-text {
    /* TODO */
    color: black; /* dummy value */
}


/* TODO make image sit at the bottom */
footer {
    z-index: 1;
    position: fixed;
    bottom: 0;
    min-height: 50px;
    max-height: 50px;
    min-width: 100%;
    background-image: url("zachary.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(57, 57, 213);
}

.link-box {
    height: 100px;
    width: 100px;
    background-color: rgb(57, 57, 213);
    color: white;
}

.link-box-link {
    color: white;
}

/*
.parent {
  display: flex;
  height: 300px;
}

.child {
  width: 100px;
  height: 100px;
  margin: auto;
}
*/

ul {
    display: flex;
    height: 400px;
    list-style: none;
}

li {
    width: 100px;
    height: 100px;
    margin: auto;
}

#ai-body {
    background-image: url("aitemp.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}