html, body {
    margin: 0;
    padding: 0;
    
    overflow-x: hidden;
}

body {
    background-color: white;
    color: black;
    
    /* forces everything to behave like a box */
    position: absolute;
    top: 0px;
    left: 0px;
    
    width: 100%;
}

/* h1 {
    
    
    forces everything to behave like a box 
    position: absolute;
    top: 0px;
    left: 10px;
    
    width: 100%;
} */

/* .body_content {
    position: absolute;
    top: 40px;
    left: 10px;
    
    width: 100%;
} */

.page {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    
    margin: 0;
    padding: 0;
}

.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#body_content {
    color: darkblue;
    
    top: 10px;
    left: 10px;
    position: relative;
}

#header {
    color: grey;
    font-size: xx-large;
    
    top: 10px;
    left: 10px;
    position: relative;
}

/* generic junk from lab a while ago */
.blue_overline_text {
    color: blue;
    text-decoration: overline;
}
#red_underline_text {
    color: red;
    text-decoration: underline;
}
/*
?????
Class Selector: (“.”)
ID Selector: (“#”)
Type Selector: none
*/